---
layout: default
---

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ site.title }}</h1>
                    <h3>We bring your application to life</h3>
                    <hr class="intro-divider">
                    {% include social.html %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<div class="content-section-a" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Web Application Development</h2>
                <p class="lead">Deliver. Accept or reject. Iterate. When working with us, you’ll be in constant contact with our team, accepting or rejecting each feature as it is built.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/services/ipad.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">UX Design</h2>
                <p class="lead">Creating an app that is intuitive and easy to use is much harder than it looks. Our design services includes you. With research, storyboarding and wireframes, we’ll work to establish the look, feel and function of the app to best support the goals of the product.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/services/dog.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Mobile App Development</h2>
                <p class="lead">With our user-centric design and innovative technical knowledge, we have the mobile app development skills necessary to help clients achieve ideal product outcomes.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/services/phones.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
{% include contact.html %}
