---
layout: default
---

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ site.title }}</h1>
                    <h3>We bring your application to life</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                      {% include social.html %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
{% for service in site.services %}
{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'odd' %}
  <div class="content-section-a">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">{{ service.title }}</h2>
                  <span class="lead">{{ service.content }}</span>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="/img/{{ service.img }}" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
  {% else %}

  <div class="content-section-b">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">{{ service.title }}</h2>
                  <span class="lead">{{ service.content }}</span>
              </div>
              <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/{{ service.img }}" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-b -->
  {% endif %}
{% endfor %}
<!-- /.content-section-a -->
{% include contact.html %}
