<!-- Footer -->
<footer>
    <div class="container" id="contact">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>
